.results-head {
  font-size: 36px;
  margin: 10px 2.5%;
}

.result-list-head {
  font-size: 24px;
  margin: 10px 5%;
}

.result {
  margin: 10px 7.5%;
  display: flex;
  align-items: center;
}

.result > p {
  margin-left: 10px;
}

.result > img {
  height: 64px;
  width: auto;
}
